body {
 margin: 0;
}
.image-content {
font-family: arial;
}
.wrapper {
font-family: arial;
 margin: auto;
 width: 80%;
}
.header {
 display: flex;
 justify-content: space-between;
}
.logo {
 margin-right: 63%;
 padding: 40px 0;
}
.logo, .menu {
 display: inline-block;
}
.menu {
 font-family: arial;
 display: flex;
 align-items: center;
}
.menu__item {
 padding: 0 13px;
}
.menu__item:last-child {
 padding-right: 0;
}
